@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
}

body {
    margin: 0;
    background-color: #ffd102;
    color: #333;
    position: absolute;
}

ul,
li {
    list-style: none;
}

button :hover {
    cursor: pointer;
}

.intro {
    text-align: center;

}

.historia {
    text-align: center;

}

.content {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #161616;
}

#menu {
    position: absolute;
    left: -230px;
    /*tamanho*/
    top: 0;
    width: 230px;
    /*largura*/
    height: 100%;
    background-color: #161616;
    /*cor*/
    color: #fff;
    /*cor do texto*/
    transition: left 0.3s ease;
    /*transição*/
    border-bottom-right-radius: 5px;
    min-height: 100vh;
    overflow: auto;
}

#menu.show {
    left: 0;
    position: fixed;
    box-shadow: 5px 5px 30px 5px black;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

#menu ul li a {
    text-decoration: none;
    color: #bb922d;
    display: block;
    font-size: 18px;
}

#menu ul li a:hover {
    background-color: #f5a623;
    color: #fff;
    border-radius: 3px;
}

.banner {
    background-color: #161616;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.intro {
    text-align: center;

}

.historia {
    text-align: center;

}

.banner h1 {
    margin: 0;
    font-size: 2.5em;
}

.content {
    padding: 40px;
    text-align: center;
}

.content img {
    max-width: 90%;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 5px 20px 2px #16161D;
}

#showMenu {
    position: fixed;
    background-color: #bb922d;
    top: 0;
    border: none;
    border-radius: 3px;
    font-size: x-large;
    cursor: pointer;
}

#hideMenu {
    background-color: #bb922d;
    top: 0;
    border: none;
    border-radius: 3px;
    right: 0;
    position: absolute;
}

.onFocus {
    filter: blur(5px);
}


#peoplesHub {
    background-color: white;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: max-content;
}

#test1, #test2, #test3, #test4{
    display: inline-block;
  }

#botoesParaTexto {
    position: absolute;
  
    text-align: center;
    align-items: center;
    transform: translateX( -50%);
    left: 50%;
    width: 100%;
}
.peopleIMG {
    height: 80px;
    border-radius: 30px;
    padding: 5px;
    width: 80px;
}

#peopleText {
    background-color: #ffd102;
    padding: 2%;
    margin: 10px;
    color: #161616;
    border-radius: 3px;
    text-align: center;
    font-size: medium;
    cursor: text;
}

.peopleButton {
    border: none;
    border-radius: 30px;
    padding: 0;
    margin: 5px;
    height: 0px;
}

#contato {
    position: relative;
    width: min-content;
    background-color: #161616;
    color: white;
    text-align: center;
    height: 250px;
    transform: translateX(-50%);
    left: 50%;
}

.selecionado {
    background-color: #ffd102;
}

#text1,
#text2,
#text3,
#text4,
#text5,
#text6,
#text7,
#text8,
#text9,
#text10 {
    border: 1px solid;
    border-color: #a46604;
}

.hidden {
    display: none;
}

#videoSet {
    width: 90%;
    height: 315px;
    border-radius: 5px;
}