@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    margin: 0;
    background-color: #ffd202;
    color: #333;
    position: absolute;
}

ul,
li {
    list-style: none;
}

.mainDiv :hover {
    cursor: pointer;
    opacity: 95%;
}

#mainTitle {
    color: #bb922d;
    font-size: x-large;
    font-weight: bolder;
}

.intro {
    text-align: center;

}

.historia {
    text-align: center;

}

.content {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #161616;
}

#menu {
    position: absolute;
    left: -230px;
    /*tamanho*/
    top: 0;
    width: 230px;
    /*largura*/
    height: 100%;
    background-color: #161616;
    /*cor*/
    color: #fff;
    /*cor do texto*/
    transition: left 0.3s ease;
    /*transição*/
    border-bottom-right-radius: 5px;
    min-height: 100vh;
    overflow: auto;
}

#menu.show {
    left: 0;
    position: fixed;
    box-shadow: 5px 5px 30px 5px black;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

#menu ul li a {
    text-decoration: none;
    color: #bb922d;
    display: block;
    font-size: 18px;
}

#menu ul li a:hover {
    background-color: #f5a623;
    color: #fff;
    border-radius: 3px;
}

.banner {
    background-color: #161616;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.intro {
    text-align: center;

}

.historia {
    text-align: center;

}

.banner h1 {
    margin: 0;
    font-size: 2.5em;
}

.content {
    padding: 40px;
    text-align: center;
}

.content img {
    max-width: 75%;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 5px 20px 2px #16161D;
}

#showMenu {
    position: fixed;
    background-color: #ffd102;
    ;
    top: 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    right: 0;
    width: 100%;
    text-align: right;
}

#hideMenu {
    background-color: #bb922d;
    top: 0;
    border: none;
    border-radius: 3px;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.onFocus {
    filter: blur(5px);
}

#peoplesHub {
    background-color: whitesmoke;
    align-items: center;
    text-align: center;
}

.peopleIMG {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    padding: 5px;
}

#peopleText {
    background-color: #ffd102;
    padding: 2%;
    margin: 24px;
    color: #161616;
    border-radius: 3px;
    text-align: center;
    font-size: medium;
    border: 1px solid;
}

#contato {
    position: relative;
    width: min-content;
    background-color: #161616;
    color: white;
    text-align: center;
    height: 250px;
    transform: translateX(-50%);
    left: 50%;
}

.addBorderToElement {
    background-color: #ffd102;
}

#text1,
#text2,
#text3,
#text4,
#text5,
#text6,
#text7,
#text8,
#text9,
#text10 {
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-color: #a46604;
    margin-left: 24px;
    margin-right: 24px;
}

#text1 {
    border-top: none;
}

.hidden {
    display: none;
}

#videoHub {
    width: 100%;
    height: 350px;
    text-align: center;
}

#setVideoURL {
    border-radius: 6px;
    width: 80%;
    height: 90%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#peoplesHub ul {
    padding: 0;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
}

#text3 li {
    list-style: square;
    border: 1px solid;
    padding: 6px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0px #161616;
    margin-top: 6px;
}

#text4 li {
    list-style: square;
    border: 1px solid;
    padding: 6px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0px #161616;
    margin-top: 6px;
}

#text5 li {
    list-style: square;
    border: 1px solid;
    padding: 6px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0px #161616;
    margin-top: 6px;
}

#text6 li {
    list-style: square;
    border: 1px solid;
    padding: 6px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0px #161616;
    margin-top: 6px;
}

#text7 li {
    list-style: square;
    border: 1px solid;
    padding: 6px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0px #161616;
    margin-top: 6px;
}

#text8 li {
    list-style: square;
    border: 1px solid;
    padding: 6px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0px #161616;
    margin-top: 6px;
}


#text9 li {
    list-style: square;
    border: 1px solid;
    padding: 6px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0px #161616;
}

#text10 {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

#text10 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.downloadsIframe {
    width: 100%;
    height: 350px;
    border-radius: 6px;
    margin: 0;
}

#text10 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0%;
}

#text10 ul>div {
    flex: 1 1 300px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 3px;
    margin: 24px;
    max-width: 100%;
}

#text10 a {
    color: black;
    text-decoration: none;
    background-color: white;
    box-shadow: 1px 1px 1px 1px;
    padding: 6px;
    border-radius: 3px;
    width: 100%;
}

#text10 .iconImg {
    position: relative;
    transform: translateY(-50%);
    top: 60%;
}

df-messenger {
    --df-messenger-bot-message: #ffd102;
    --df-messenger-button-titlebar-color: #333;
    --df-messenger-chat-background-color: whitesmoke;
    --df-messenger-font-color: black;
}